* {
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
  height: 100vh;
  padding: 1rem;
}

.left-side-bar {
  display: flex;
  flex-direction: column;
}

.logo,
.user-profile {
  display: flex;
  flex-direction: row;
}

.nav-bar-buttons {
  display: flex;
  flex-direction: column;
}

.form-fields > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* toggle views[dashboard-overview, expense-form-view full-expense-list-view]  */
.hidden {
  display: none;
}