.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
}

.left-side-bar {
  display: flex;
  flex-direction: column;
}

.logo,
.user-profile {
  display: flex;
  flex-direction: row;
}

.nav-bar-buttons {
  display: flex;
  flex-direction: column;
}

